<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>MoniWeb Home</title>
        <link href="css/styles.css" rel="stylesheet" />
        <!-- <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" /> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <!-- <body class="sb-nav-fixed" onLoad="checkLoggedInFetch(null);"> -->
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-light bg-white">
            <!-- d-flex justify-content-between -->
            <div class="ml-3 ">
                <img src="img/logo3_smallsize.png">
            </div>
            <div class="ml-auto row"> 
                <!-- <span class="col d-flex align-self-center mt-1 px-1"> -->
                    <a class="col d-flex align-self-center mt-1 px-1" id="search" href="#searchtab">
                        <i class="fas fa-search text-secondary"></i>
                    </a>
                <!-- <i class="fas fa-search fa-2x>"></i> -->
                <button class="col btn btn-link btn-sm px-1 mr-3" id="sidebarToggle" href="#">
                    <span class="navbar-toggler-icon">
                </button>
            </div>


                <!-- <button class="btn btn-link btn-sm ml-auto" id="sidebarToggle" href="#">
                    <span class="navbar-toggler-icon">
                </button> -->
        </nav>
        
<!-- Navigation menu -->
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light bg-white" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav" id="sidenavContainer">

                            <!-- <a id="home" class="nav-link" href="#hometab">Home</a>
                            <a id="search" class="nav-link" href="#searchtab">Search</a>
                            <a id="check" class="nav-link" href="#hometab">Check a Website</a> 
                            <a id="joinplan" class="nav-link" href="#joinplantab">Join a Plan</a>
                            <a id="login" class="nav-link" href="#logintab">Login</a>
                            <a id="register" class="nav-link" href="#registertab">Register</a> -->

                            
                            <!-- <a id="myplan" class="nav-link" href="#myplantab" hidden="hidden">My Plan</a>
                            <a id="upgradeplan" class="nav-link" href="#upgradeplantab" hidden="hidden">Upgrade Plan</a>
                            <a id="setting" class="nav-link" href="#settingtab"  hidden="hidden">Setting</a>
                            <a id="logout" class="nav-link" href="#logout"  hidden="hidden">Logout</a> -->


                        </div>
                    </div>
                </nav>
            </div>
            
<!-- Main  -->
            <div id="layoutSidenav_content">
                <main>
                    
<!--                Home -->
                    <div class="container-fluid">
                        <div id="hometab" class="tab" >
                            <ol class="breadcrumb my-3">
                                <li class="breadcrumb-item active mx-auto" id="message"> Wonderful Website Monitoring Service</li>
                            </ol>

                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="card shadow-lg border-0 rounded-lg mt-1">
                                        <div class="card-header">
                                            <h3 class="text-center font-weight-light my-2">Check Web Service</h3>
                                        </div>
                                        <div class="card-body">
                                            <form id="checkForm"> <!-- default method: GET -->
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputURL">URL</label>
                                                    <input class="form-control py-4" id="inputURL" type="text" placeholder="Enter a URL" />
                                                </div>
                                                <div class="form-group d-flex flex-row-reverse">
                                                    <input class="btn btn-primary" id="checkButton" type="submit" value="Check" /> 
                                                </div>
                                                <!-- <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"> --> 
                                                    <!-- <a class="small" href="#">Join a plan</a> -->
                                                    <!-- <input class="btn btn-primary" id="checkButton" type="submit" value="Check" />  -->
                                                <!-- </div> -->
                                            </form>
                        `                </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card bg-primary text-white mb-5"> 
                                        <div class="card-body">Join our Free plan to monitor your web service regularly 
                                                Our Website Monitoring System will check your website for 24 hours and 7 days.</div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="#">
                                                 Register and Join a Free Plan
                                            </a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                Search -->
                    <div class="container-fluid">
                         <div id="searchtab" class="tab" >

                            <form class="form-inline ml-auto mr-0 mt-2 mb-4">  <!-- Default method: GET -->
                                <div class="input-group w-100">
                                    <input class="form-control rounded-pill" type="text" placeholder="Free Plan" aria-label="Search" aria-describedby="basic-addon2" />
                                    <div class="input-group-append">
                                        <button class="btn rounded-circle" type="button"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                             
                            <h4> 2 results found </h4>
                            <div>
                                <ul class="list-group">

                                <!-- Search result list -->
                                    <li class="list-group-item">
                                        <a href="https://localhost/freeplan.html">
                                            <h4>  Free Plan  </h4> 
                                        </a>
                                        <p>The Free Plan provides functionality that check five websites free. </p>  
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://localhost/joinplan.html">
                                            <h4> Join a Plan </h4> 
                                        </a>
                                        <p> Join a Free Plan and try the MoniWeb Monitoring Service functionality. </p>                    
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
<!--                Check a Website    -->
                    <!-- <div class="container-fluid">
                        <div id="checktab" class="tab" >
                            <h3 class="mt-4">Check a Website</h3>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">Check your website</li>
                            </ol>
                        </div>
                    </div> -->
                    
<!--  Join a Plan    -->
                    <div class="container-fluid">
                        <div id="joinplantab" class="tab" >
                            <ol class="breadcrumb my-3">
                                <li class="breadcrumb-item active mx-auto">Sign up and Monitor your website for Free</li>
                            </ol>
                            <div class="row">
                                <div class="col-12">
                                    <!-- <div class="card bg-primary text-white mb-3"> 
                                        <div class="card-body">When you sign up,  you can use the monitoring plan for FREE.
                                            The FREE monitoring plan provides registration of 5 website URLs, automatic checking and notification service.
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="text-white stretched-link" id="registerforjoin" href="#">
                                                 Create an account and join a Free Plan
                                            </a>
                                            <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div> -->
                                    <div class="card mb-3"> 
                                        <div class="card-header bg-primary text-white my-0 py-1">Free Plan
                                        </div>
                                        <div class="card-body my-0 py-0"> 
                                            <ul class="list-group m-0 p-0">
                                                <li class="list-group-item m-0 p-0"> Check up to 5 website URLs</li>
                                                <li class="list-group-item m-0 p-0"> Check once in an Hour</li>
                                                <li class="list-group-item m-0 p-0"> Daily summary report</li>
                                                <li class="list-group-item m-0 p-0"> Email Notification when abnormal status occurs</li>
                                                <li class="list-group-item m-0 p-0"> Report and notification history preserved for one day</li>
                                                <li class="list-group-item m-0 p-0"> Price: Free </li>
                                            </ul>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between my-0 py-1">
                                            <a class="stretched-link" id="registerForJoinFree" href="#">
                                                 Create an account and join Free Plan
                                            </a>
                                            <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                    <div class="card mb-3"> 
                                        <div class="card-header bg-primary text-white my-0 py-1">Standard Plan
                                        </div>
                                        <div class="card-body my-0 py-0"> 
                                            <ul class="list-group m-0 p-0">
                                                <li class="list-group-item m-0 p-0"> Check up to 20 website URLs </li>
                                                <li class="list-group-item m-0 p-0"> Check once in 10 minutes</li>
                                                <li class="list-group-item m-0 p-0"> Daily and Weekly summary report</li>
                                                <li class="list-group-item m-0 p-0"> Email and SMS Notification when abnormal status occurs</li>
                                                <li class="list-group-item m-0 p-0"> Report and notification history preserved for one month</li>
                                                <li class="list-group-item m-0 p-0"> Price: 5$ per month (Add URL for 0.25$)</li>
                                            </ul>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between my-0 py-1">
                                            <a class="stretched-link" id="registerForJoinStandard" href="#">
                                                 Create an account and join Standard Plan
                                            </a>
                                            <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>

                                    <div class="card mb-3"> 
                                        <div class="card-header bg-primary text-white my-0 py-1">Premium Plan
                                        </div>
                                        <div class="card-body my-0 py-0"> 
                                            <ul class="list-group m-0 p-0">
                                                <li class="list-group-item m-0 p-0"> Check up to 50 website URLs </li>
                                                <li class="list-group-item m-0 p-0"> Check once in one minute</li>
                                                <li class="list-group-item m-0 p-0"> Daily, Weekly and Monthly summary report</li>
                                                <li class="list-group-item m-0 p-0"> Email and SMS Notification when abnormal status occurs</li>
                                                <li class="list-group-item m-0 p-0"> Report and notification history preserved permanently</li>
                                                <li class="list-group-item m-0 p-0"> Price: 10$ per month (Add URL for 0.2$)</li>
                                            </ul>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between my-0 py-1">
                                            <a class="stretched-link" id="registerForJoinPremium" href="#">
                                                 Create an account and join Premium Plan
                                            </a>
                                            <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
<!-- My Plan -->
                    <div class="container-fluid">
                        <div id="myplantab" class="tab" >
                            <ol class="breadcrumb my-3">
                                <li class="breadcrumb-item active mx-auto">My Plan</li>
                            </ol>
                            <div>
                                <ul class="list-group">
                                <!-- Search result list -->
                                    <li class="list-group-item">
                                        <form id="upgradeForm" method="GET">
                                            <div class="form-group d-flex align-items-center justify-content-between mx-2 mb-0">
                                                <div id="planType"></div> 
                                                <input class="btn btn-primary" id="upgradeButton" type="button" value="Upgrade Plan" /> 
                                            </div>  
                                        </form>
                                    </li>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <form id="updateURLForm" method="GET">
                                            <div class="form-group">
                                                <label for="updateURL1" class="small mb-0 pb-0">URL1</label>
                                                <input class="form-control" name="updateURL1" id="updateURL1" type="text" placeholder="Enter a URL" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="updateURL2" class="small mb-0 pb-0">URL2</label>
                                                <input class="form-control" name="updateURL2" id="updateURL2" type="text" placeholder="Enter a URL"  />
                                            </div>
                                            <div class="form-group">
                                                <label for="updateURL3" class="small mb-0 pb-0">URL3</label>
                                                <input class="form-control" name="updateURL3" id="updateURL3" type="text" placeholder="Enter a URL"  />
                                            </div>
                                            <div class="form-group">
                                                <label for="updateURL4" class="small mb-0 pb-0">URL4</label>
                                                <input class="form-control" name="updateURL4" id="updateURL4" type="text" placeholder="Enter a URL"  />
                                            </div>
                                            <div class="form-group">
                                                <label for="updateURL5" class="small mb-0 pb-0">URL5</label>
                                                <input class="form-control" name="updateURL5" id="updateURL5" type="text" placeholder="Enter a URL"  />
                                            </div>
                                            <!-- <div class="form-group mt-4 mb-0">
                                                <input class="btn btn-primary btn-block" id="updateURLButton" type="submit" value="update URLs" />
                                            </div>  -->
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a href="#" data-toggle="modal" data-target="#modalDeleteURL">Delete an URL</a>
                                                <input class="btn btn-primary" id="updateURLButton" type="submit" value="Update URL" /> 
                                            </div>  
                                        </form> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDeleteURL">
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modalDeleteURL" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">To delete an URL</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            Empty the URL that you want to delete and click the Update URL button, then the URL will be deleted. 
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
<!-- Upgrade Plan -->
                    <div class="container-fluid">
                        <div id="upgradeplantab" class="tab" >
                            <ol class="breadcrumb my-3">
                                <li class="breadcrumb-item active mx-auto">Upgrade Plan</li>
                            </ol>

                            <div class="card mb-3"> 
                                <div class="card-header bg-primary text-white my-0 py-1">Standard Plan
                                </div>
                                <div class="card-body my-0 py-0"> 
                                    <ul class="list-group m-0 p-0">
                                        <li class="list-group-item m-0 p-0"> Check up to 20 website URLs </li>
                                        <li class="list-group-item m-0 p-0"> Check once in 10 minutes</li>
                                        <li class="list-group-item m-0 p-0"> Daily and Weekly summary report</li>
                                        <li class="list-group-item m-0 p-0"> Email and SMS Notification when abnormal status occurs</li>
                                        <li class="list-group-item m-0 p-0"> Report and notification history preserved for one month</li>
                                        <li class="list-group-item m-0 p-0"> Price: 5$ per month (Add URL for 0.25$)</li>
                                    </ul>
                                </div>
                                <form id="upgradeStandardForm" method="GET">
                                    <div class="form-group mt-4 mb-0">
                                        <input class="btn btn-primary btn-block" id="upgradeStandardButton" type="button" value="Upgrade to Standard Plan" />
                                    </div>
                                </form>
                                <!-- <div class="card-footer d-flex align-items-center justify-content-between bg-primary my-0 py-1">
                                    <a class="stretched-link text-white" id="upgradeStandard" href="#">
                                            Upgrade to Standard Plan  <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                    </a>
                                </div> -->
                            </div>

                            <div class="card mb-3"> 
                                <div class="card-header bg-primary text-white my-0 py-1">Premium Plan
                                </div>
                                <div class="card-body my-0 py-0"> 
                                    <ul class="list-group m-0 p-0">
                                        <li class="list-group-item m-0 p-0"> Check up to 50 website URLs </li>
                                        <li class="list-group-item m-0 p-0"> Check once in one minute</li>
                                        <li class="list-group-item m-0 p-0"> Daily, Weekly and Monthly summary report</li>
                                        <li class="list-group-item m-0 p-0"> Email and SMS Notification when abnormal status occurs</li>
                                        <li class="list-group-item m-0 p-0"> Report and notification history preserved permanently</li>
                                        <li class="list-group-item m-0 p-0"> Price: 10$ per month (Add URL for 0.2$)</li>
                                    </ul>
                                </div>
                                <form id="upgradePremiumForm" method="GET">
                                    <div class="form-group mt-4 mb-0">
                                        <input class="btn btn-primary btn-block" id="upgradePremiumButton" type="button" value="Upgrade to Premium Plan" />
                                    </div>
                                </form>
                                <!-- <div class="card-footer d-flex align-items-center justify-content-between my-0 py-1">
                                    <a class="stretched-link" id="registerForJoinPremium" href="#">
                                            Create an account and join Premium Plan
                                    </a>
                                    <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
<!-- register upgrade tab  -->
                   
<!--    Login -->
                    <div class="container-fluid">
                        <div id="logintab" class="tab" >
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                        <div class="card-body">
                                            <form id="loginForm" method="POST">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="loginEmailAddress">Email</label>
                                                    <input class="form-control py-4" id="loginEmailAddress" name="loginEmailAddress" type="email" placeholder="Enter email address" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="small mb-1" for="loginPassword">Password</label>
                                                    <input class="form-control py-4" id="loginPassword" name="loginPassword" type="password" placeholder="Enter password" />
                                                </div>
                                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                    <a class="small" href="password.html">Forgot Password?</a>
                                                    <!-- <input class="btn btn-primary" id="loginButton" type="submit" value="Login" />  -->
                                                    <input class="btn btn-primary" id="loginButton" type="submit" value="Login" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
<!--                Register -->        
                    <div class="container-fluid">
                        <div id="registertab" class="tab">
                                    <div class="card shadow-lg rounded-lg mt-3">
                                    <div class="card-header">
                                        <h3 class="text-centern font-weight-light my-3">Create Account</h3>
                                    </div>
                                    <div class="card-body">
                                        <form id="registerForm" method="POST">
                                           
                                            <div class="form-group">
                                                <input class="form-control py-3" id="inputFirstName" type="text" placeholder="Enter first name" required />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control py-3" id="inputLastName" type="text" placeholder="Enter last name" required />
                                            </div>
                                            
                                            <div class="form-group">
                                                <div id="emailMsg" class="text-danger"></div>
                                                <input class="form-control py-3" id="inputEmail" type="email" aria-describedby="emailHelp" placeholder="Enter email address" onChange="clearMsg('emailMsg');" />
                                                
                                            </div>
                                            
                                            <div class="form-group">
                                                <input class="form-control py-3" id="inputPassword" type="password" placeholder="Enter password" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control py-3" id="inputConfirmPassword" type="password" placeholder="Confirm password" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control py-3" id="inputPhoneNo" type="text" placeholder="Enter phone number" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control py-3" id="inputAddress" type="text" placeholder="Enter address" />
                                            </div>
                                                
                                            <div class="form-group">
                                                <input class="form-control py-3" id="inputSuburb" type="text" placeholder="Enter suburb" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control py-3" id="inputState" type="text" placeholder="Enter state" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control py-3" id="" type="text" placeholder="Enter postcode" />
                                            </div>
                                            
                                            <div class="form-group mt-4 mb-0">
                                                <input class="btn btn-primary btn-block" id="registerAccountButton" type="submit" value="Create Account" />
                                            </div>

                                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#messageModal">
                                                Launch demo modal
                                            </button> -->

                                            <!-- <div class="form-group mt-4 mb-0">
                                                <a class="btn btn-primary btn-block" id="registerAccountButton">Create Account</a>
                                            </div> -->
                
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="login.html">Have an account? Go to login</a></div>
                                    </div>
                                        
                                </div>
                            </div>
                    </div>
                    
<!--                Setting -->                    
                    <div class="container-fluid">
                        <div id="settingtab" class="tab" >
                            <h3 class="mt-4">setting</h3>
                            
                            <div class="list-group">
                                <a id="updateprofile" href="#updateprofiletab" class="list-group-item list-group-item-action"> Update Profile
                                </a>
                                <input type="hidden" id="hiddenEmail" value="" /> 
                                <a id="changepassword" href="#changepasswordtab" class="list-group-item list-group-item-action">Change Password</a>
                                <div class="list-group-item list-group-item-action"> 
                                    Change Theme Mode: <span id="currentmode" class="ml-3">Light</span><a id="changemode" class="btn mx-3 px-2 py-0"><i class="fas fa-exchange-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- End of Side Menu Implementation -----------------------------------------------------------------------------------------> 
 
<!--                Update Profile -->                   
                    <div class="container-fluid">
                        <div id="updateprofiletab" class="tab" >                         
                            <div class="card shadow-lg rounded-lg mt-2">
                                <div class="card-header">
                                    <h3 class="text-centern font-weight-light my-2">Update Profile</h3>
                                </div>
                                <div class="card-body">
                                    <form id="updateProfileForm" method="POST">
                                        <div class="form-group">
                                            <label for="updateFirstName" class="small mb-0 pb-0">First name</label>
                                            <input class="form-control" name="updateFirstName" id="updateFirstName" type="text" placeholder="First name" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="updateLastName" class="small mb-0 pb-0">Last name</label>
                                            <input class="form-control" name="updateLastName" id="updateLastName" type="text" placeholder="Last name" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="updateEmail" class="small mb-0 pb-0">Email</label>
                                            <input class="form-control" name="updateEmail" id="updateEmail" type="email" aria-describedby="emailHelp" placeholder="Email" required  />
                                        </div>
                                        <div class="form-group">
                                            <label for="updatePhoneNo" class="small mb-0 pb-0">Phone No.</label>
                                            <input class="form-control"  name="updatePhoneNo" id="updatePhoneNo" type="text" placeholder="Phone no." required />
                                        </div>
                                        <div class="form-group">
                                            <label for="updateAddress" class="small mb-0 pb-0">Address</label>
                                            <input class="form-control"  name="updateAddress" id="updateAddress" type="text" placeholder="Address"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="updateSuburb" class="small mb-0 pb-0">Suburb</label>
                                            <input class="form-control"  name="updateSuburb" id="updateSuburb" type="text" placeholder="Suburb"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="updateState" class="small mb-0 pb-0">State</label>
                                            <input class="form-control"  name="updateState" id="updateState" type="text" placeholder="State"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="updatePostcode" class="small mb-0 pb-0">Postcode</label>
                                            <input class="form-control"  name="" id="updatePostcode" type="text" placeholder="" />
                                        </div>
                                       
                                        <div class="form-group mt-4 mb-0">
                                            <input class="btn btn-primary btn-block" id="updateProfileButton" type="submit" value="Update Profile" />
                                        </div>
                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
<!--                Change Password    -->
                    <div class="container-fluid">
                        <div id="changepasswordtab" class="tab" >
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active mx-auto">Change Password</li>
                            </ol>

                            <form id="changePasswordForm" method="POST">
                                <div class="form-group">
                                    <label for="currentPassword" class="small mb-0 pb-0">Current password</label>
                                    <input class="form-control" name="currentPassword" id="currentPassword" type="password" placeholder="Current password" required />
                                </div>
                                <div class="form-group">
                                    <label for="newPassword" class="small mb-0 pb-0">New password</label>
                                    <input class="form-control" name="newPassword" id="newPassword" type="password" placeholder="New password" required />
                                </div>
                                <div class="form-group">
                                    <label for="confirmNewPassword" class="small mb-0 pb-0">Current Password</label>
                                    <input class="form-control" name="confirmNewPassword" id="confirmNewPassword" type="password" placeholder="Confirm new password" required />
                                </div>
                                
                                <div class="form-group mt-4 mb-0">
                                    <input class="btn btn-primary btn-block" id="changePasswordButton" type="submit" value="Change" />
                                </div>
            
                            </form>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div id="messagetab" class="tab" >
                            <!-- <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active mx-auto">Change Password</li>
                            </ol>

                            <form id="changePasswordForm" method="POST">
                                <div class="form-group">
                                    <label for="currentPassword" class="small mb-0 pb-0">Current password</label>
                                    <input class="form-control" name="currentPassword" id="currentPassword" type="password" placeholder="Current password" required />
                                </div>
                                <div class="form-group">
                                    <label for="newPassword" class="small mb-0 pb-0">New password</label>
                                    <input class="form-control" name="newPassword" id="newPassword" type="password" placeholder="New password" required />
                                </div>
                                <div class="form-group">
                                    <label for="confirmNewPassword" class="small mb-0 pb-0">Current Password</label>
                                    <input class="form-control" name="confirmNewPassword" id="confirmNewPassword" type="password" placeholder="Confirm new password" required />
                                </div>
                                
                                <div class="form-group mt-4 mb-0">
                                    <input class="btn btn-primary btn-block" id="changePasswordButton" type="submit" value="Change" />
                                </div>
            
                            </form> -->
                        </div>
                    </div>


                      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#messageModal">
                        Launch demo modal
                    </button> -->
                      <!-- Modal -->
                    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="messageModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="messageModal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Home</button>
                                    <button type="button" class="btn btn-primary" >My Plan</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
